* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

#pokedex {
  text-align: center;
}

.pokemon-list {
  text-decoration: none;
  list-style-type: none;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s opacity;
  max-width: 200px;
}

.button:hover {
  cursor: pointer;
  color: #000;
  background-color: #0f0;
  opacity: 0.8;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }


.hidden {
  visibility: visible;
}
